*{
    list-style: none;
    text-decoration: none;
    margin:0;
    padding: 0;

}

.sidebar{
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    background: skyblue;

}
.sidebar header{
    font-size: 22px;
    color: saddlebrown;
    text-align: center;
    line-height: 70px;
    background-color:skyblue;
    color: blueviolet;

    
}
.sidebar ul a{
    line-height: 65px;
    font-size: 20px;
    color: blue;
    padding-left:40px ;
    box-sizing: border-box;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: block;
    height: 100%;
    width: 100%;
    transition: .4s;
}
.sidebar ul li:hover a {
    padding-left: 30px;
    background-color:cyan;
    color:saddlebrown;
   }
   .sidebar ul a i{
       margin-right: 16px;
   } 

   
    .foot h1{
        font-size: 70px;
        color:red;
        text-align: center;
        line-height: 70px;
        width: 100%;
        background-color: silver;
    }

.item{
    display: inline-block;
    margin: 8px;
    padding: 3px;
    background-color: blanchedalmond;
    width: 320px;
    height: 300px;
    border: solid 2px wheat;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.item > p{
    margin-top: 271px;
    background:wheat;
    font-size: 28px;
}
.grid{
    width: 100%;
    height: auto;
    display: inline-block;
    margin-left: 250px;
    position: absolute;
}

.sport h2{
        font-size: 40px;
        color: #4e1247;
        text-align: center;
        margin-top: 20px;
}
.smart{
 
    height: 100%;
    width: 100%;
    margin-left:250px;
    position: fixed;
    background-color: seagreen;
    
  
    
    }
.smart h3{
    margin:auto;
    font-size: 30px;
    color:black;
    margin-top: 300px;
    margin-left: 200px;  
}
.tell{
    height: auto;
    margin-right: 300px;
    margin-top: -400px;
    background-size: cover ;
    background-position: center;

}
.tell ul{
    float: right;
    
   
}
.tell li{
    display: inline-block;
    margin-right: 10px;
    
 
}
.tell li a{
    color: black;
    padding: 5px 20px;
    border: 1px solid black;
    font-size: 20px;
    
}
 .tell ul li:hover a {
    background-color: cornsilk;
    color: rgb(88, 33, 33);
}











